.MM-Aside-Main-BG {
    background-color: #393D42;
}
.MM-Aside-header-BG {
    background-color: #F8F9FA;
}
.MM-Nav-BG {
    background-color: black;
}
.cf-MM {
    color: white;
    font-size: 29px;
}