.iMM-sizes {
    width: 32px;
    height: 32px;
}
.iMM-logo {
    background-image: url('../icons/Logo.svg');
}
.iMM-paryer{
    background-image: url('../icons/Mask\ Group\ 5.svg') ;
}
.iMM-dashboard{
    background-image: url('../icons/Mask\ Group\ 2.svg') ;
}
.iMM-tasks{
    background-image: url('../icons/Mask\ Group\ 7.svg') ;
}
.iMM-menu{
    background-image: url('../icons/menuIcon.svg') ;
}
.iMM-reminders{
    background-image: url('../icons/Mask\ Group\ 4.svg') ;
}
.iMM-MyPocket{
    background-image: url('../icons/Mask\ Group\ 6.svg') ;
}
.iMM-Categories{
    background-image: url('../icons/Mask\ Group\ 9.svg') ;
}
.iMM-Archives{
    background-image: url('../icons/Mask\ Group\ 8.svg') ;
}